VITE_SUPABASE_URL=https://hbcwothzlscmppirxzyg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiY3dvdGh6bHNjbXBwaXJ4enlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2NTYyNDksImV4cCI6MjA5NTIzMjI0OX0.Ob5lL5u2r2ZT0lgj_BIpP40XAbUcOqQzXQQT33357qc